/* @import url(animation.css); */

* {
    box-sizing: border-box;
}

/* ---- Base Rules ---- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
    color: #30303e;
}

p {
    line-height: 1.2em;
    font-size: 0.8em;
    color: black;
    font-family: 'Oxygen', Sans-Serif;
}

/* Navigation Styles*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    background-color: #30303e;
    padding: 0 30px;
    height: 3.5em;
    font-family: 'Oxygen', Sans-Serif;
}

nav.hidden {
    display:none;
}

#logo {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    font-size: 1.5em;
    margin: 0;
}

#logo:hover {
    color: #e66114;
}

.navbar__menu .nav-link {
    display: block;
    padding: 1em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar__menu .nav-link:hover {
    color: #e66114;
    transition: ease 0.3s all;
}

nav .active .nav-link {
    color: #e66114;
}

#toggle-nav-btn {
    display: block;
    text-decoration: none;
    color: #fff;
}

#toggle-nav-btn .fa-times {
    display:none;
}

#toggle-nav-btn.expanded .fa-times {
    display:inline-block;
}

#toggle-nav-btn.expanded .fa-bars {
    display:none;
}

#navbar__list {
    display: none;
}

#navbar__list.expanded {
    display: block;
}

.navbar__menu ul {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    background: rgba(48, 48, 62, 0.411);
    width: 100%;
    padding: 0;
    margin-top: 55px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

/* Header Styles */
.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Landing Container Styles */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0.1em;
    grid-template-areas:
    "cover"
    "section1"
    "section2"
    "section3"
    "section4";
    width: 100%;
    height: 100%;
}

#cover {
    grid-area: cover;
}

#section1 {
    grid-area: section1;
}

#section2 {
    grid-area: section2;
}

#section3 {
    grid-area: section3;
}

#section4 {
    grid-area: section4;
}

.main__hero {
    height: 750px;
    background: url(../images/cover.jpg) no-repeat center;
    background-size: cover;
}

.cover-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover-text h2 {
    color: #fff;
    text-shadow: 0.2vw 0.3vw #30303e;
    border-bottom: 0.1vw solid #30303e;
    text-align: center;
}

.landing__container {
    margin: 4em 1.5em 2em 1.5em;
    text-align: center;
}

section h2 {
    border-bottom: 1px solid #30303e;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2em;
    color: #30303e;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
}

.section-text {
    width: 90%;
}

.section-btn {
    border-radius: 10px;
    height: 30px;
    background-color: #30303edc;
    margin: 0 1em;
}

.section-btn a {
    text-decoration: none;
    color: #fff;
}

.section-btn a:hover {
    color: #e66114;
}

.section-photo img {
    box-shadow: 0 4px 8px 0 gray;
    border-radius: 10%;
    width: 90%;
    margin: 1em 0;
}

#top-btn {
    position: fixed;
    top: 90%;
    right: 1em;
    display: none;
}

#top-btn a {
    height: 4em;
    width: 4em;
    border-radius: 1em;
    background-color: #8b1f1f;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Footer Styles */
.page__footer {
    background: #30303e;
    padding: 1em;
    color: #fff;
    margin-top: 4em;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
}

.page__footer p{
    color: #fff;
    margin-right: 1em;
}

.page__footer a {
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 8px;
    text-decoration: none;
}