
@media screen and (max-width: 768px) {
    #logo {
        font-size: 1.5em;
    }

    .menu-btn {
        display: block;
        text-decoration: none;
        color: #fff;
    }

    .navbar__menu ul:not(:first-child){
        display: none;
    }

    .navbar__menu ul {
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        flex-direction: column;
        background: rgba(48, 48, 62, 0.411);
        width: 100%;
        padding: 0;
        margin-top: 55px;
        display: block;
    }

    .main__hero {
        height: 1000px;
    }

    section h2 {
        font-size: 2em;
        margin: 0 1em;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .section-text {
        width: 100%;
        margin: 2em;
    }

    .section-photo {
        width: 100%;
    }

    section:nth-child(odd) .section-photo {
        margin-top: 4em;
    }

    #top-btn {
        position: fixed;
        top: 51.5em;
        right: 1em;
    }
}


@media screen and (max-width: 1024px) {
    section h2 {
        border-bottom: 1px solid #30303e;
        font-family: 'Oxygen', Sans-Serif;
        font-size: 3em;
        color: #30303e;
    }

}