@media screen and (min-width: 450px) {
    #logo {
        font-size: 1.5em;
    }

    .cover-text h2 {
        font-size: 1.6em;
        text-align: center;
    }

    .section-content {
        margin-top: 2em;
        flex-flow: wrap;
        width: 100%;
    }

    .section-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .section-text {
        width: 50%;
    }

    .section-photo {
        width: 50%;
        margin: 0;
    }
}


@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
    }

    #navbar__list, #navbar__list.expanded {
        display: flex;
        position: relative;
        flex-direction: row;
        background: none;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        height: 100%;
        margin: 0;
    }

    #toggle-nav-btn {
        display: none;
    }

    #logo {
        font-size: 2em;
        padding-left: 16px;
    }

    .main__hero {
        height: 900px;
    }

    .cover-text h2 {
        color: #fff;
        font-size: 2em;
        text-shadow: 0.2vw 0.2vw #30303e;
        border-bottom: 0.1vw solid #30303e;
    }

    .landing__container {
        margin: 4em 6em;
    }

    .section-text {
        text-align: left;
        width: 50%;
        font-size: 1.3em;
    }

    section:nth-child(odd) .section-text {
        text-align: right;
    }

    .section-photo {
        width: 50%;
    }

    section:nth-child(even) .section-text {
        padding-right: 20px;
    }

    section:nth-child(odd) .section-text {
        padding-left: 20px;
    }

    section:nth-child(even) h2 {
        text-align: left;
    }

    section:nth-child(odd) h2 {
        text-align: right;
    }

    .section-content {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    section h2 {
        border-bottom: 1px solid #30303e;
        font-family: 'Oxygen', Sans-Serif;
        color: #30303e;
    }

    .page__footer {
        margin-top: 6.2em;
    }
}

@media screen and (min-width: 1024px) {
    .section-photo {
        width: 50%;
        margin: 0;
    }

    .landing__container {
        margin: 5em 13em;
    }

    .section-content {
        width: 100%;
        margin-top: 4em;
    }
}




